module Lovers
  FB_APP_ID = "YOUR APP ID"
  FB_APP_SECRET = "YOUR APP SECRET"
  FB_CANVAS_NAME = "runwithfriends"
  FB_CANVAS_PAGE = "http://apps.facebook.com/" + FB_CANVAS_NAME
  FB_CANVAS_URL = "http://runwithfriends.appspot.com/"

  RELN = 6

  ADMIN_UIDS = ["5526183"]
end
