  <!-- <h2>Lovers Administration</h2> -->

  <h3>Users</h3>
  <p>Total: <%= @user_count %></p>
  <ol>
    <% @users.each do |u| %>
      <li><%= u %></li>
    <% end %>
  </ol>

  <h3>Alums (users who've removed this app)</h3>
  <ol>
    <% @alums.each do |u| %>
      <li><%= u %></li>
    <% end %>
  </ol>
