<header>
  <img alt="" src="http://graph.facebook.com/<%= Lovers.facebook.id %>/picture" width="50" height="50">
  <h1>Welcome, Lover!</h1>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#requests">Requests</a></li>
    <li><a href="#lovers">Lovers</a></li>
  </ul>
</header>

<section id="home">
</section>

<section id="gifts">
<p><a id="buy-gift">Buy Gift</a></p>
</section>

