<section id="send-love" data-user_id="<%= @user.facebook.id %>"
  data-access_token="<%= @user.facebook.access_token %>">
  <h3>Who do you love?</h3>
  <input class="placeholder" id="friend-selector" type="text" value="Start typing a friend's name">
  <p><a class="uiButton uiButtonConfirm">Share</a></p>
</section>

<section id="send-gift">
  <h3>Send <span id="them">them</span> a gift.</h3>
  <ul>
    <li>
      <input id="gift_0" type="radio" name="gift_id" value="0">
      <label for="gift_0"><img src="/images/gifts/red-heart.png"></label>
      <p>Red Heart</p>
      <p>Free!</p>
    </li>
    <li>
      <input id="gift_1" type="radio" name="gift_id" value="1">
      <label for="gift_1"><img src="/images/gifts/red-rose.png"></label>
      <p>Red Rose</p>
      <p>10 <img src="/images/facebook-credit.png"></p>
    </li>
    <li>
      <input id="gift_2" type="radio" name="gift_id" value="2">
      <label for="gift_2"><img src="/images/gifts/dozen-red-roses.png"></label>
      <p>Dozen Roses</p>
      <!-- <p style="text-decoration:line-through">120 credits</p> -->
      <p>99 <img src="/images/facebook-credit.png"><!-- <em>Sale!</em> --></p>
    </li>
    <li>
      <input id="gift_3" type="radio" name="gift_id" value="3">
      <label for="gift_3"><img src="/images/gifts/blue-diamond.png"></label>
      <p>Blue Diamond</p>
      <p>3,304 <img src="/images/facebook-credit.png"></p>
    </li>
  </ul>
  <p><a class="uiButton uiButtonConfirm">Send Gift</a></p>
</section>
