<h2>FAQ</h2>

<ul>
<li><h3>How does the leaderboard work?</h3>

<p>  Those user who send the most gifts we call the "Most Loving," and those who receive the most gifts we call the "Most Loved." We use the following point system.</p>

<p>  Note: The sender &amp; receiver always earn the same amount of points.
  Note: Only actions taken after February 14th, 3pm EST have been awarded points.</p>

<ul>
<li>Red Heart: 1 points</li>
<li>Red Rose:  11 points</li>
<li>Dozen Roses: 100 points</li>
<li>Blue Diamond: 3305 points</li>
</ul>
</li>
<li><h3>How do I update my status with a little heart at the end?</h3>

<p>  You can post to your wall with a little heart by just clicking "Share" from the <a href="/">canvas page</a> without entering a friend's name first. It doesn't update your status. We'll add a feature to do that if you <a href="%22mailto:info@loversapp.com%22">ask us to</a>.</p></li>
<li><h3>How do I add my friends as lovers?</h3>

<p>  This feature is coming soon.</p></li>
</ul>

