<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lovers on Facebook</title>
  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen, projection">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/lovers.js"></script>
</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId:  "<%= Lovers::Conf.fb_app_id %>",
        status: true, // check login status
        cookie: true, // enable cookies to allow the server to access the session
        xfbml:  true, // parse XFBML
        channelUrl: window.location.protocol + '//' + window.location.host + '/fb/canvas/channel.html'
      });
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          // A user has logged in, and a new cookie has been saved
        } else {
          // The user has logged out, and the cookie has been cleared
        }
      });
    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  <script src="/javascripts/main.js"></script>

  <%= yield %>

  <%= erb :ga, :layout => false %>
</body>
</html>
