<%# TODO make pretty and add images with feature overview %>

<header>
  <img alt="" src="http://graph.facebook.com/<%= Lovers.facebook.id %>/picture" width="50" height="50">
  <hgroup>
    <h1>Lovers</h1>
    <h2>Share the Love</h2>
  </hgroup>
</header>

<p>Lovers allows you to express your love to your friends on Facebook.</p>
<ul id="features">
  <li>
    <h3>Send love to your friends.</h3>
    <img src="/images/send-love.png">
  </li>
  <li>
    <h3>Send gifts to your friends.</h3>
    <!-- <img src="/images/send-gift.png"> -->
  </li>
  <li>
    <h3>Add your friends as lovers.</h3>
    <img src="/images/add-lovers.png">
    <img src="/images/multiple-relationships.png">
  </li>
</ul>

<aside>
  <fb:login-button max-rows="3" show-faces="true" width="200"></fb:login-button>
  <small>In order to send love to your friends via Lovers, You must authorize the Lovers application to interact with your Facebook account. You can deauthorize Lovers anytime from your <a href="http://www.facebook.com/settings/?tab=applications">Application Settings</a>.</small>
</aside>

<footer>
  <p>Lovers © 2011</p>
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/privacy">Privacy</a></li>
  </ul>
</footer>
