<div>
  <p>Lovers allows you to express your love to your friends on Facebook.</p>
  <ul id="features">
    <li>
      <h3>Send love to your friends.</h3>
      <img src="/images/send-love.png">
    </li>
    <li>
      <h3>Send gifts to your friends.</h3>
      <img src="/images/send-gift.png">
    </li>
    <li>
      <h3>Add your friends as lovers.</h3>
      <img src="/images/add-lovers.png">
      <img src="/images/multiple-relationships.png">
    </li>
  </ul>
</div>

<aside>
  <a href="<%= Lovers.facebook.auth_url %>" target="_top"><h3>Get Started</h3></a>
  <p>To send love to your friends, you must login to Lovers with your Facebook account. You can remove Lovers anytime from your <a href="http://www.facebook.com/settings/?tab=applications">Application Settings</a>. For more details, please view our <a href="/privacy">Privacy Policy</a>.</p>
  <fb:facepile href="facebook.com/loversapp" width="200" max_rows="3"></fb:facepile>
</aside>
