<ul id="tabs">
  <li><a>Home</a></li>
  <li><a>Requests</a></li>
  <li><a>Lovers</a></li>
</ul>

<section id="welcome">
  <p id="intro">Lovers allows you to express your love to your friends on Facebook.</p>
  <div id="features">
    <h2>Send love to your friends</h2>
    <img id="send_love" src="/images/notif.png" />
    <h2>Show your love on your wall and their wall</h2>
    <img id="show_love" src="/images/mywall.png" />
    <h2>Have more than one significant other</h2>
    <img src="/images/infosection.png" />
    <img id="profile_box" src="/images/profilebox.png" />
  </div>

  <!-- <fb:login-button perms="email,offline_access" show-faces="true"></fb:login-button> -->
  <fb:login-button></fb:login-button>

  <p>Although Lovers does not store or share any of your information, you still must "allow" it in
  order to send love to your friends. You can always disallow it later from your <a
  href="http://www.facebook.com/editapps.php">Application Settings</a>.</p>

  <p id="learn_more"><a href="http://www.facebook.com/apps/application.php?id=50601675619">
      Learn more about Lovers »</a></p>
</section>


<section id="home">
  <!-- Render share love publisher --> <!-- Render fan box -->
  <!-- Render feed w special tag --> <!-- Render t-shirt banner (partner w/ printer) -->
</section>


<section id="requests">
</section>


<section id="lovers">
</section>

<script>
  /**
   * @namespace LVRS public namespace for Lovers
   */
  LVRS = window.LVRS || {};

  LVRS.config = {
    appId: <%= Lovers::FB_APP_ID %>
  };

  // LVRS.getName = function(uid, callback) {
  //   LVRS.getProperties(uid, ['name'], callback);
  // }

  LVRS.getProperties = function(uid, properties, callback) {
    FB.api('/' + uid + '?fields=' + properties.join(','), callback);
  }

  LVRS.renderRequest = function(rid, uid) {
    var article = $("<article>", {
      "id": uid
    });
    // article.append($("<img>")); // http://graph.facebook.com/35/picture
    // para.append($("<a></a>"))
    //   <p><a>Matt Di Pasquale</a></p>
    //   <div><a>Confirm</a><a>Not Now</a></div>
    // </article>
    $('#requests').append(article);
  };

  LVRS.userIterator = function(property, func) {
    if(!this.user.hasOwnProperty(property))
      return false;

    var length = this.user[property].length, i;
    var i;
    for(i = 0; i < length; i++)
       func(LVRS.user[property][i]);
  };

  LVRS.renderRequests = function() {
    var requests = $("#requests");
    this.userIterator('reqs', function(obj) {
      var rid_uid = obj.split("|");
      LVRS.renderRequest(rid_uid[0], rid_uid[1]);
    });
  };

  LVRS.renderRelationships = function() {
  //   var requests = $("#..");
  //   this.userIterator('rels', function(obj) {
  // //render relationships here...
  //   });
  // http://graph.facebook.com/35?fields=name
  };

  LVRS.bootstrap = function(user) {
    this.user = user;
    this.renderRelationships();
    this.renderRequests();
  };

  // $(function() {
  //   FB.Canvas.setAutoResize();
  //   LVRS.bootstrap(<%#= @rels.to_json %>);
  // });
</script>
