<ul id="tabs">
  <%# store in array @tabs & print out %>
</ul>

<section id="weclome">
  <p id="intro">Lovers allows you to express your love for others in new ways on Facebook.</p>
  <div id="features">
    <h2>Send love to your friends</h2>
    <img id="send_love" src="/images/notif.png" />
    <h2>Show your love on your wall and their wall</h2>
    <img id="show_love" src="/images/mywall.png" />
    <h2>Have more than one significant other</h2>
    <img src="/images/infosection.png" />
    <img id="profile_box" src="/images/profilebox.png" />
  </div>

  <!-- <fb:login-button perms="email,offline_access" show-faces="true"></fb:login-button> -->
  <fb:login-button></fb:login-button>

  <p>Although Lovers does not store or share any of your information, you still must
      "allow" it in order to send love to your friends. You can always disallow it later from
      your <a href="http://www.facebook.com/editapps.php">Application Settings</a>.</p>

  <p id="learn_more"><a href="http://www.facebook.com/apps/application.php?id=50601675619">
      Learn more about Lovers »</a></p>
</section>

