<h2>Privacy Policy</h2>

<p>Date of last revision: February 14, 2011.</p>

<p><em>Application</em>: the Lovers application on Facebook</p>

<p><em>Lovers User</em>: a Facebook User who is currently allowing the Application to access at least his basic Facebook information</p>

<p><em>Lovers Fan</em>: a Facebook User who has "liked" the Application</p>

<p><em>Lovers Visitor</em>: anyone (who may or may not be a Facebook User and/or a Lovers User) visiting any of Lovers's pages</p>

<p><em>Lovers Stream</em>: all wall posts, including their comments &amp; likes, posted with Lovers</p>

<p><em>Share</em>: to post information to your Stream</p>

<h3>Lovers Visitors</h3>

<h4>Traffic Analysis</h4>

<p>Lovers monitors traffic to its <a href="https://apps.facebook.com/mylovers/">canvas page</a> with <a href="http://www.google.com/analytics/">Google Analytics</a>. Some of the data that Google Analytics tracks are: referral URLs, number of page views, approximate geographic locations of visitors, etc. These statistics, however, are completely anonymous.</p>

<h3>Lovers Users</h3>

<h4>Lovers Fan List</h4>

<p>On the <a href="https://apps.facebook.com/mylovers/">Lovers canvas page</a>, Lovers displays the <a href="https://developers.facebook.com/docs/reference/plugins/facepile/">Facepile Social Plugin</a> created by Facebook. Facebook also displays, on the <a href="https://www.facebook.com/loversapp">Lovers page</a>, a sampling of those who've "liked" Lovers. Facebook also shares this information as usual, like on the News Feed or Live Feed.</p>

<h4>Sending Love to Friends</h4>

<p>From a privacy perspective, sending love to a friend via Lovers is similar to sending a wall post to a friend. Facebook stores these wall posts for Lovers.</p>

<h4>Sending Gifts to Friends</h4>

<p>Lovers uses <a href="http://redistogo.com/">Redis to Go</a> through <a href="http://heroku.com/">Heroku</a> to store the set of all Lovers User ids and all sent &amp; received gifts for every user.</p>
