<!DOCTYPE html>
<html id="lovers">
<head>
  <title>Lovers</title>
  <!-- <link rel="stylesheet" href="/stylesheets/screen.css"> -->
</head>
<body>
  <div id="fb-root"></div>
  <script src="/scripts/index.js"></script>
  <section>
    <h3>Who do you love?</h3>
    <!-- <input type="text" value="Start typing a friend's name"> -->
    <select><option>Loading Friends...</option></select>
    <button class="uiButton uiButtonConfirm">Share</button>
  </section>
</body>
</html>
