<h2>Privacy Policy</h2>

<p>Last updated: January 13, 2013</p>

<p>When you use Lovers to post a love action, Lovers uses your <a href="https://www.facebook.com/settings/?tab=privacy">default privacy settings</a>. Lovers doesn't store any data independently of Facebook. For data use, see <a href="https://www.facebook.com/about/privacy/">Facebook's Data Use Policy</a>.</p>
