body {
  font-size: 11px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 12px 0;
}

header > hgroup {
  display: inline-block;
  margin-left: 8px;
}

header > hgroup > h1 {
  font-size: 32px;
  margin: 6px 0;
}

header > hgroup > h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 6px 0;
}

section {
  margin: 40px 0 0 300px;
}

button {
  cursor: pointer;
  font-weight: bold;
  line-height: 20px;
}
