header, footer, section, article, aside {
  display: block;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

img {
  border: none;
}

header img {
  float: left;
}

header h1 {
}

footer p {
  float: left;
}

footer ul {
  float: right;
  list-style-type: none;
  width: 400px;
}

footer li {
  float: left;
  padding: 0 10px;
}

footer li + li {
  border-left: solid 1px black;
}
